{% extends "base.html.twig" %}

{% block title %}
    ─ {{ trick.name }}
{% endblock %}

{% block body %}
    <section class="hero--homepage">
        <p class="hero__display-text">{{ trick.name }}</p>
    </section>
    <main class="main">
        {% for message in trick.messages %}
            <p>{{ message.writer.firstname }} {{ message.writer.lastname }}</p>
            <p>{{ message.content }}</p>
        {% endfor %}
    </main>
{% endblock %}